.header_wrapper {
    position: relative;
    z-index: 1000;
}
.floating_menu {
    top: 0;
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
}

.app_header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.logo * {
    fill: #057af0;
    width: 50%;
}
.nav_menu {
    flex-grow: 1;
    display: flex;
    justify-content: right;
}

.nav_menu_item {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    user-select: none;
    padding: 26px 22px;
    text-transform: uppercase;
    color: #e3e3e3;
}



