.footer_wrapper {
    height: 514px;
    background-image: url(../../../../public/img/maxroll_footer_2500x514s.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.bottom_menu {
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
}

.container {
    margin: 0 auto;
    width: 1200px;
}
