.wrapper {
    height: 200px;
    /*position: absolute;*/
    /*max-width: unset;*/
    /*transform: translateX(calc((2560px - 100vw) / -2));*/
    background-image:  url(./img/image_2023-01-05_18-56-22.png);
    background-size: 100%;
}
