.headerMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
}

.logo * {
    fill: #057af0;
    width: 50%;
}
.navMenu {
    flex-grow: 1;
    display: flex;
    justify-content: right;
}



